name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with: { java-version: '17', distribution: 'zulu' }
      - name: Build
        run: |
          gradle wrapper
          chmod +x gradlew
          ./gradlew assembleDebug
          mv app/build/outputs/apk/debug/app-debug.apk app/build/outputs/apk/debug/BT-V23-ULTIMATE.apk
      - uses: actions/upload-artifact@v4
        with: { name: BT-V23-ULTIMATE, path: app/build/outputs/apk/debug/BT-V23-ULTIMATE.apk }